 *{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
 }
 body{
     color: white;
     background-size: cover;
    animation-name: background-img;
    animation-duration: 15s;
   animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function:ease-out;
 }
 @keyframes background-img {
    0% {
        background-image: url('https://image.shutterstock.com/image-photo/black-friday-sale-concept-shop-260nw-1522284413.jpg');
      }
      20% {
        background-image: url('https://image.shutterstock.com/image-photo/black-friday-sale-concept-shopping-260nw-1471051382.jpg');
      }
      40% {
        background-image: url('https://image.freepik.com/free-photo/business-woman-black-clothes-with-black-shopping-bags-dark-background-black-friday_134398-10129.jpg');
      }
      60% {
        background-image: url('https://media.gettyimages.com/photos/directly-above-shot-of-objects-over-black-background-picture-id1250475765?s=612x612');
      }
      80% {
        background-image: url('https://image.shutterstock.com/image-photo/black-friday-sale-concept-shopping-260nw-1471051382.jpg');
      }
      100% {
        background-image: url('https://image.shutterstock.com/image-photo/black-friday-sale-concept-shop-260nw-1522284413.jpg');
      }
 }
  .card{
    transition:all ;
    transition-duration: 1s;
    margin-bottom: 10px;
  }
  .card:hover{
    transform: scale(1.05);
  }
  p{
      padding: 10px;
      background-color: rgb(31, 30, 30,0.8);
  }
  h2{
      color: crimson;
      font-weight: 600;
  }
